.speech{
    font-family: monospace;
    font-size: 12px;
    color: black; 
}

.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    background-color: aqua;
}

.direction:hover {
    color: white;
    background-color: black;
}

.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.name:hover {
    text-shadow: 4px 4px 4px rgb(30, 63, 255);;
    border: 2px solid #215ed8; 
}

.nora{
    color: cadetblue;
}

.porter{
    color: brown;
}

.helmer{
    color: blueviolet;
}

table{
    border-collapse: collapse;
    margin: auto;
    border: 1px solid rgb(68, 38, 202);
}

td, th{
    border: 1px solid rgb(68, 38, 202);
    padding: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color:bisque
}

tr:nth-child(even){
    background-color:burlywood;
}

